some dir/
*.xml

*.iml
*.csv
.idea/.name
*.pickle

*.json

*.pickle

data/

data/temp/transactions.pickle
data/temp/oil.pickle
tmp/
*.DESKTOP-PO1465E
some dir/graph.pbtxt.tmp14913a2c75154ba38a1df4a14d5899f3
